<h1>Enter Your User Info</h1>

<form id="userform" action="/createuser" method="post">
	<input type="string" name="first_name" value="First Name">
	<input type="string" name="last_name" value="Last Name">
	<input type="string" name="phone" value="XXX-XXX-XXXX">
	<input type="submit" value="Submit">	


</form>
