<HTML>

<head>
<%= javascript_include_tag "./public/js/highcharts.js" %>
<%= javascript_include_tag "./public/js/jquery.js" %>
</head>



<body>
TESTING LAYOUT

<%= yield %>




</body>









</HTML>
