<HTML>


	<body>
	
		Hello - this is the weekly email template.
		
		<img src="<%= @url %>">
		
		
		<table>
		<% for u in 0..@data.length %>
			<tr>
				<td><%= @data[u].date_created %></td>
				<td><%= @data[u].weight %></td>
			</tr>
		</table>
		<% end %>

	</body>

</HTML>